body {
    background-image: url("../images/dating_8.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Ubuntu', sans-serif;
    
}

#jumbo {
    width: 40%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;       
}


